* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #16232A;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

/*estados*/
.screen {
    display: none;
    text-align: center;
    animation: fadeIn 0.5s ease in;
}
.screen.active {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    color: #E4EEF0;
    font-size: 3.5rem;
    margin: 2rem 0 1rem;
}

p {
    color: #E4EEF0;
    font-size: 1.2rem;
    margin: 1rem 0;
}

.subtitle {
    font-size: 1.5rem;
    opacity: 0.9;
    margin-bottom: 2rem;
}

.accent {
    color: #fe7f2d
}

