* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #16232A;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

/*estados*/
.screen {
    display: none;
    text-align: center;
    animation: fadeIn 0.5s ease in;
}
.screen.active {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*textos*/
h1 {
    color: #E4EEF0;
    font-size: 3.5rem;
    margin: 2rem 0 1rem;
}

p {
    color: #E4EEF0;
    font-size: 1.2rem;
    margin: 1rem 0;
}

.subtitle {
    font-size: 1.5rem;
    opacity: 0.9;
    margin-bottom: 2rem;
}

.accent {
    color: #fe7f2d
}


.logo {
    width: 150px;
    height: 150px;
    background: linear-gradient(to bottom right, #fe7f2d, #1d5e61);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 70px;
    font-weight: bold;
    margin: 0 auto 2rem;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4),
                0 0 40px rgba(255, 255, 255, 0.1);
}


/*botones*/
.boton {
    background-color: #fe7f2d;
    border: none;
    color: white;
    padding: 15px 40px;
    font-size: 1.8rem;
    margin-top: 20px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 15px 40px rgba(254, 127, 45, 0.35);
    transition: all 0.3s ease;
}

.boton:hover {
    background-color: #ff914d;
    transform: translateY(-2px);
    box-shadow: 0 20px 50px rgba(254, 127, 45, 0.45);
}

.boton-secundario {
    background-color: #1d5e61;
}

.boton-secundario:hover{
    background-color: #2a7a7f;
}

/*botones de respuesta*/
.botones-respuesta {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.boton-respuesta {
    background-color: #E4EEF0;
    color: #16232A;
    border: none;
    padding: 20px 50px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    min-width: 250px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.3 ease;
}
.boton-respuesta:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.verdadero:hover {
    background-color: #4caf50;
    color: white;
}
.falso:hover {
    background-color: #f44336;
    color: white;
}


/*timer*/
#timer-container {
    margin-bottom: 2rem;
}

#timer {
    display: incline-block;
    font-size: 3rem;
    color: #fe7f2d;
    font-weight: bold;
    background-color: rgba(254, 127, 45, 0.1);
    padding: 15px 30px;
    border-radius: 50px;
    border: 3px solid #fe7f2d;
    min-width: 100px;
}
