* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #16232A;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

/*estados*/
.screen {
    display: none;
    text-align: center;
    animation: fadeIn 0.5s ease in;
}
.screen.active {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*textos*/
h1 {
    color: #E4EEF0;
    font-size: 3.5rem;
    margin: 2rem 0 1rem;
}

p {
    color: #E4EEF0;
    font-size: 1.2rem;
    margin: 1rem 0;
}

.subtitle {
    font-size: 1.5rem;
    opacity: 0.9;
    margin-bottom: 2rem;
}

.accent {
    color: #fe7f2d
}


.logo {
    width: 150px;
    height: 150px;
    background: linear-gradient(to bottom right, #fe7f2d, #1d5e61);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 70px;
    font-weight: bold;
    margin: 0 auto 2rem;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4),
                0 0 40px rgba(255, 255, 255, 0.1);
}


/*botones*/
.boton {
    background-color: #fe7f2d;
    border: none;
    color: white;
    padding: 15px 40px;
    font-size: 1.8rem;
    margin-top: 20px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 15px 40px rgba(254, 127, 45, 0.35);
    transition: all 0.3s ease;
}

.boton:hover {
    background-color: #ff914d;
    transform: translateY(-2px);
    box-shadow: 0 20px 50px rgba(254, 127, 45, 0.45);
}

.boton-secundario {
    background-color: #1d5e61;
}

.boton-secundario:hover{
    background-color: #2a7a7f;
}

/*botones de respuesta*/
.botones-respuesta {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.boton-respuesta {
    background-color: #E4EEF0;
    color: #16232A;
    border: none;
    padding: 20px 50px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    min-width: 250px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.3 ease;
}
.boton-respuesta:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.verdadero:hover {
    background-color: #4caf50;
    color: white;
}
.falso:hover {
    background-color: #f44336;
    color: white;
}


/*timer*/
#timer-container {
    margin-bottom: 2rem;
}

#timer {
    display: incline-block;
    font-size: 3rem;
    color: #fe7f2d;
    font-weight: bold;
    background-color: rgba(254, 127, 45, 0.1);
    padding: 15px 30px;
    border-radius: 50px;
    border: 3px solid #fe7f2d;
    min-width: 100px;
}
#timer.alerta {
    color:#f44336;
    border-color: #f44336;
    background-color: rgba(244, 67, 54, 0.1);
    animation: parpadeo 0.5s infinite;
}

@keyframes parpadeo {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
}


/*tarjeta de pregunta*/
.pregunta-card {
    position: relative;
    z-index: 3;
    background-color: #E4EEF0;
    color: #16232A;
    border-radius: 28px;
    padding: 60px 40px;
    margin: 2rem auto;
    max-width: 700px;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25 px rgba(0, 0, 0, 0.25);
}
/*tarjetas que aparecen atras tipo pila de tarjetas*/
.pregunta-card::before {
    content:"";
    position: absolute;
    top: 14px;
    left: 50%;
    right: 0;
    margin: auto;
    width: 95%;
    height: 100%;
    transform: translateX(-50%);
    background: #ffffff;
    border-radius: 24px;
    z-index: 2;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}
.pregunta-card::after {
    content: "";
    position: absolute;
    top: 28px;
    left: 50%;
    width: 90%;
    height: 100%;
    transform: translateX(-50%);
    background: #ffffff;
    border-radius: 20px;
    z-index: 1;
    box-shadow: 0 5px 12px rgba(0,0,0,0.10);
}
#pregunta-texto {
    font-size: 1.8rem;
    line-height: 1.6;
    color:#16232A;
    font-weight: 500;
}



/*pantalla de resultados*/
#resultado-icono {
    font-size: 6rem;
    margin: 2rem 0;
}

#resultado-mensaje {
    font-size: 3rem;
    font-weight: bold;
    margin: 1rem 0;
    color: #E4EEF0;
}

.puntaje-info {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    padding: 30px;
    margin: 2rem auto;
    max-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.puntaje-info p {
    font-size: 1.5rem;
    margin: 1rem 0;
}


@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    .boton {
        font-size: 1.5rem;
        padding: 12px 30px;
    }

    #pregunta-texto {
        font-size: 1.4rem;
    }

    .boton-respuesta {
        min-width: 200px;
        font-size: 1.3rem;
        padding: 15px 35px;
    }

    #timer {
        font-size: 2.5rem;
    }

    .logo {
        width: 120px;
        height: 120px;
        font-size: 60px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    .pregunta-card {
        padding: 40px 25px;
        min-height: 200px;
    }

    #pregunta-texto {
        font-size: 1.2rem;
    }
    .boton-respuesta {
        width: 100%;
    }
    .botones-resultado {
        flex-direction: column;
    }

    .boton {
        width: 100%;
    }
}