/*nav buttons*/

#nav-btns-container {
    position: fixed;
    bottom: 2%;
    left: 0;
    right: 0;
    width: 16%;
    margin: 0 auto;
    left: (42%);
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav-btn {
    width: 25%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: none;
    background-color: var(--principal-orange);
    box-shadow: 0px 10px 40px -6px var(--principal-orange-o75);
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btn a {
    color: var(--principal-grey);
}

.nav-btn:hover {
    background-color: var(--principal-orange-o75);
}

.nav-btn-active {
    box-shadow: 0px 10px 60px -3px var(--principal-orange);
}