:root {
    --principal-green: #004643;
    --principal-green-o75: #004643c2;
    --principal-dark: #16232A;
    --principal-orange: #fe7f2d;
    --principal-orange-o75: #fe812dc9;
    --principal-sandwhite: #E4EEF0;
    --principal-grey: #d3d3d3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Monda", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--principal-dark);
}

.hidden {
    visibility: hidden;
}

.display-none {
    display: none;
}

header {
    display: flex;
    flex-direction: column;
}

.header-flex {
    display: flex;  
    align-items: center;
}

#header-principal {
    justify-content: space-between;  
    background-color: var(--principal-dark);
    padding: 1.5rem;
    width: 100%;
    z-index: 100;
}

.header-login {
    font-size: 1rem;
}

#header-principal h1 {
    color: var(--principal-grey);
}

#header-principal .title-span {
   color: var(--principal-orange);
}

#header-navbar {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    background-color: var(--principal-green);
    padding: 1rem 1.5rem;
    box-shadow: 0px 10px 40px -6px var(--principal-orange-o75);
}

#categories-btn-container {
    position: relative;
}

#categories-btn-options {
    list-style: none;
    display: none;  
}

.button-func {
    background-color: var(--principal-orange);
    padding: .6rem;
    border-radius: .3rem;
    border: none;
    color: var(--principal-sandwhite);
    border: 1px solid var(--principal-orange);
}

#categories-btn {
    background-color: transparent;
    color: var(--principal-orange);
}

#facts-container {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 1rem;
    min-height: 100vh;
    background-color: var(--principal-dark);
}

.fact-item {
    list-style: none;
    padding: 2rem;
    background-color: var(--principal-green);
    border-radius: 1rem;
    color: var(--principal-sandwhite);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: .8rem;
    width: 90%;
}

.fact-title {
    font-size: 1.2rem;
}

.fact-content {
    font-size: 1rem;
    max-width: 90%;
}

.fact-user, .fact-category, .fact-font {
    border-left: 1px solid var(--principal-orange);
    padding-left: .4rem;
    font-size: .75rem;
}

.fact-user {
    border-radius: .3rem;
    width: fit-content;
    background-image: linear-gradient(to right, var(--principal-orange-o75), #e4eef05e);
    padding: .4rem;
    font-size: .8rem;
    margin-bottom: .5rem;
}

.fact-category {
    margin-top: 1rem;
    color: var(--principal-orange);
}

.fact-vote-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1rem;
    padding-top: .2rem;
}

.btn-container {
    display: flex;
    gap: 1rem;
    justify-content: end;
}

.fact-btn-iaResponse {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    width: fit-content;
    border: none;
    padding: .8rem;
    border-radius: .5rem;
    background-image: linear-gradient(to right, rgb(0, 87, 250), #0400f75e);
    color: var(--principal-sandwhite);
    font-size: .9rem;
}

.fact-btn-addToRepository {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    width: fit-content;
    border: none;
    padding: .8rem;
    border-radius: .5rem;
    background-color: var(--principal-orange);
    color: #fff;
    font-size: .9rem;
}

.fact-iaResponse {
    border-radius: 1rem;
    background-image: linear-gradient(to right, rgba(0, 87, 250, 0.705), #0400f73d);
    padding: 2rem;
    font-size: 1rem;
}


#categories-btn-options {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: absolute;
    top: 5em;
    padding: 2rem;
    z-index: 1;
    color: var(--principal-sandwhite);
    background-image: linear-gradient(to right, var(--principal-orange), var(--principal-orange-o75));
    border-radius: .8rem;
}

.a-redirect {
    list-style: none;
    color: var(--principal-sandwhite);
    text-decoration: none;
}

.false-verdict {
    border-left: 2px solid red;
    border-bottom: 2px solid red;
}

.true-verdict {
    border-left: 2px solid green;
    border-bottom: 2px solid green;
}

.indet-verdict {
    border-left: 2px solid yellow;
    border-bottom: 2px solid yellow;
}