* {
  text-align: center;
}
p {
  color: red;
}
h1 {
  color: blue;
}
body {
  background-color: lightgray;
}
.container1 {
  font-size: 60px;
  text-decoration: none;
  color: green;
}
.features {
  background-color: black;
  color: white;
  padding: 7px;
}
.feature1{
  background-color: rgb(0, 195, 255);
  border-radius: 50px;
  text-align: center;
}