body {
    background: #16232A;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.h1 {
    font-size: 20px;
}
.container {
    background: #1d5e61;
    width: 430px;
    padding: 35px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 0 35px #ff8c3e55;
    margin-top: 40px;
    margin-bottom: 40px;
}
.tabs {
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin: 25px 0;
}

.tabs button {
    padding: 10px 30px;
    font-size: 16px;
    background: #16232A;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.tabs button.active {
    background: #ff8c3e;
    box-shadow: 0 0 20px #ff8c3e;
}

.subtitle {
    color: #d3d3d3;
    margin-bottom: 20px;
}

label {
    color: white;
    text-align: left;
    display: block;
    margin-bottom: 5px;
}

.input-box {
    background: rgba(255,255,255,0.15);
    padding: 8px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.input-box .icon {
    margin-right: 8px;
}

.input-box input {
    width: 100%;
    padding: 8px;
    border: none;
    background:#d3d3d3;
}
.row {
    display: flex;
    gap: 10px;
}

.column {
    flex: 1;
}

.main-btn {
    background: #ff8c3e;
    width: 100%;
    padding: 12px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}
@media (max-width: 600px) {

    .container {
        width: 90%;
        padding: 25px;
    }

    .row {
        flex-direction: column;
    }

    .tabs {
        flex-direction: column;
    }

    .tabs button {
        width: 100%;
    }
}

.row {
    display: flex;
    gap: 10px;
}
.column {
    flex: 1;
}
.brand-title {
    font-size: 31px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 0.5rem;
    color: #e6d6d6ab;
    letter-spacing: 0.5px;
    font-family: -webkit-body;
}

.brand-accent {
    color: #ff9800; /* naranja factos */
}

.auth-subtitle {
    text-align: center;
    margin-bottom: 1.5rem;
    color: rgba(255, 255, 255, 0.371);
    font-size: 1.1rem;
}
.container {
    animation: fadeInUp 1s ease-out;
}

.tabs {
    animation: fadeInUp 1.2s ease-out;
}

form {
    animation: fadeInUp 1.4s ease-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#login-form, #register-form {
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.6s ease;
}
