.ranking-page {
    min-height: 100vh;
    background-color: var(--principal-dark);
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;   
    gap: 2.5rem;
}


.ranking-title {
    color: var(--principal-orange);
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-align: left;
}

.ranking-box {
    width: 96%;
    max-width: 1400px;
    background-color: var(--principal-green);
    border-radius: 1.2rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 0px 15px 40px -10px var(--principal-orange-o75);
}

.ranking-box-title {
    color: var(--principal-sandwhite);
    font-size: 1.6rem;
    display: flex;
    align-items: left;
    gap: .7rem;
}

.ranking-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.ranking-item {
    background-color: #063c39;
    border-radius: 1rem;
    padding: 1.2rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--principal-sandwhite);
    border-left: 5px solid var(--principal-orange);
}

.ranking-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.ranking-position {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--principal-orange);
    width: 2.5rem;
    text-align: left;
}

.ranking-username {
    font-size: 1.1rem;
    font-weight: 600;
}

.ranking-facts {
    font-size: .9rem;
    opacity: .85;
    display: flex;
    align-items: center;
    gap: .3rem;
}

.ranking-score {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--principal-orange);
}
.ranking-header {
    width: 96%;
    max-width: 1400px;
    margin: 0 auto;
}

.ranking-header-icon {
    display: flex;
    align-items: center;
    gap: .8rem;
}
.gold {
    color: gold;
}
.silver{
    color:silver;
}
.bronze{
    color:#Bf8970;
}
.ranking-page {
    animation: fadeInUp 1s ease-out;
}
.ranking-box {
    animation: fadeInUp 1.2s ease-out;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}